<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- APP接口 -->
	<bean id="appDao" class="com.puyun.myshop.daoImpl.AppDaoImpl">
		<property name="daoSupport" ref="daoSupport" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<!-- 系统配置 -->
	<bean id="systemConfigDao" class="com.puyun.myshop.daoImpl.SystemConfigDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<!-- 订单管理 -->
	<bean id="orderDao" class="com.puyun.myshop.daoImpl.OrderDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<!-- 用户管理 -->
	<bean id="userDao" class="com.puyun.myshop.daoImpl.UserDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<!-- 审核管理 -->
	<bean id="checkDao" class="com.puyun.myshop.daoImpl.CheckDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<!-- 商品类型管理 -->
	<bean id="goodsTypeDao" class="com.puyun.myshop.daoImpl.GoodsTypeDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<!-- 广告位管理 -->
	<bean id="adsDao" class="com.puyun.myshop.daoImpl.AdsDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<!-- 模板管理 -->
	<bean id="modelDao" class="com.puyun.myshop.daoImpl.ModelDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<!-- 推送管理 -->
	<bean id="pushDao" class="com.puyun.myshop.daoImpl.PushDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<!-- 商户统计查询管理 -->
	<bean id="salerStatisticsDao" class="com.puyun.myshop.daoImpl.SalerStatisticsDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<!-- 客户统计查询管理 -->
	<bean id="buyerStatisticsDao" class="com.puyun.myshop.daoImpl.BuyerStatisticsDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
</beans>